<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="217d0449-b6b6-467b-bee5-1afa113e6d8c"
            Publisher="CN=Kenny"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>WindowsStore</DisplayName>
    <PublisherDisplayName>Kenny</PublisherDisplayName>
    <Logo>Package\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="WindowsStore.App">
        <VisualElements
            DisplayName="WindowsStore"
            Logo="Package\Logo.png"
            SmallLogo="Package\SmallLogo.png"
            Description="WindowsStore"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Package\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>